* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$background: #F7F1F3;
$tags: #E6A04E;
$title: #b33105;
$text: #455E67;
$border: #BFAD96;

@import url('https://fonts.googleapis.com/css?family=Patua+One|Roboto');

body {
  width: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: $background;
}

#bookmarks {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 25px;
  flex-wrap: wrap;

  input {
    margin-right: 25px;
    margin-bottom: 10px;
    padding: 5px 10px;
    height: 35px;
  }

  button {
    padding: 0px 15px;
    font-size: 1rem;
    height: 35px;
  }
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  //flex-direction: column;
  flex-wrap: wrap;
  padding: 25px;
  flex-grow: 1;
  max-width: 1100px;
  margin: 0 auto;
}

.item {
  width: 100%;
  max-width: 500px;
  min-width: 270px;
  flex-basis: 1;
  //margin-bottom: 25px;
  margin-top: 25px;
  margin-right: 25px;
  border-left: solid 2px $border;
  padding-left: 5px;
  padding: 15px;

  &:nth-child(2n) {
    //margin-right:0;
  }

  &__name {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Patua One', cursive;

    //margin-top:25px;
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $title;
    }
  }

  &__description {
    margin-bottom: 10px;
    font-size: 0.8rem;
    color: $text;
  }

  &__tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
    a {
      background-color: $tags;
      text-decoration: none;
      margin-right: 25px;
      font-size: 0.9rem;
      padding: 3px 6px;
      color: $background;
      margin-bottom: 10px;
    }
  }
}