*, body, html {
  box-sizing: border-box; 
  margin:0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Patua+One|Roboto');

.container {
  padding: 25px;
  width: 100%; //height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #F6F3F1;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  margin: 5px 10px;
  color: #67798B;
}

.name {
  a {
    font-family: 'Patua One', cursive;
    font-size: 16px;
  }
}

#clear {
  background-color: #B4A77B;
}

ul.pagination {
  padding: 0px;
  li {
    display: inline-block;
    border: solid 1px #AFB1BB;
    border-bottom: solid 3px #AFB1BB;
    border-right: solid 3px #AFB1BB;
    padding: 3px;
    margin: 0px 5px;
    left: 0;
    a {
      padding: 5px;
    }
  }
}

.list {
  font-family: sans-serif;
}

td {
  padding: 10px 5px;
  border: solid 1px #9293AE;
  margin-right: 5px;
  &.desc {
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    &.active {
      display: none;
    }
  }
}

input {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 7px 14px;
  margin-bottom: 10px
}

input:focus {
  outline: none;
  border-color: #aaa;
}

.sort,
.description {
  padding: 5px 15px;
  border-radius: 6px;
  border: none;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  background-color: #67798B;
  height: 35px;
  text-transform: uppercase;
  margin: 5px 5px;
  font-size: 12px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

td.tags {
  font-family: 'Montserrat', sans-serif;
}

.sort:hover {
  text-decoration: none;
  box-shadow: 2px 5px #cecece; //background-color:#1b8aba;
}

.sort:focus {
  outline: none;
}

.sort:after {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
  position: relative;
  top: -10px;
  right: -5px;
}

.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content: "";
  position: relative;
  top: 4px;
  right: -5px;
}

.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content: "";
  position: relative;
  top: -4px;
  right: -5px;
}

a {
  &.url {
    text-transform: capitalize;
  }
}